<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="shortcut icon" href="./assets/img/favicon-removebg-preview.png" type="image/x-icon">
    <title>Transactions</title>
</head>

<body>
    <div id="app">
        <header>
            <a href="#"><img class="logo" src="./assets/img/LB-final.png" alt="LB"></a>
            <h1 class="h1Light">LIGHT<span class="h1Bank">BANK</span></h1>
            <a href="#" class="logoutButton" v-on:click="logout()">
                <ion-icon name="log-out-outline"></ion-icon><span>Logout</span>
            </a>
        </header>
        <main class="d-flex justify-content-end align-items-center pb-0">
            <img class="backgroundImage" src="./assets/img/imagen.svg" alt="animation">
            <div class="sideBar">
                <ul>
                    <li class="list">
                        <a v-on:click="logout()">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./accounts.html">
                            <span class="icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </span>
                            <span class="title">Accounts</span>
                        </a>
                    </li>
                    <li class="list transfers active">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="icon transfer"><img src="./assets/img/transferencia-de-dinero-white.png"
                                    alt="transfer"></span>
                            <span class="title">Transactions</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li v-for="account in accounts"><a
                                    class="dropdown-item d-flex justify-content-start align-items-center text-dark"
                                    :href="'./account.html?id=' + account.id">
                                    <ion-icon name="person-outline"></ion-icon>{{account.number}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="list">
                        <a href="./cards.html">
                            <span class="icon">
                                <ion-icon name="card-outline"></ion-icon>
                            </span>
                            <span class="title">Cards</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./create-cards.html">
                            <span class="icon cardPlus">
                                <img src="./assets/img/pago.png" alt="">
                            </span>
                            <span class="title">Create Cards</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./transfer.html">
                            <span class="icon cardPlus">
                                <img src="./assets/img/money.png" alt="">
                            </span>
                            <span class="title">Transfer</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./loan-application.html">
                            <span class="icon cardPlus">
                                <img src="./assets/img/loan.png" alt="">
                            </span>
                            <span class="title">Loan Application</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./payServices.html">
                            <span class="icon cardPlus">
                                <ion-icon name="cash-outline"></ion-icon>
                            </span>
                            <span class="title">Pay Services</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column align-items-center allContent">
                <h2 class="mt-4" v-if="transactions.length">Your Transactions, {{client.firstName}}!</h2>
                <h2 class="mt-4" v-else>You don't have transactions!</h2>
                
                <div v-if="transactions.length" class="filter">
                    <div class="d-flex align-items-center justify-content-center gap-1">
                        <label>From:</label>
                        <input type="datetime-local" v-model="startDate">
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-1">
                        <label>To:</label>
                        <input type="datetime-local" v-model="endDate">
                    </div>
                    <a :href="createPdf()" class="download-button text-decoration-none text-white">
                        <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none"
                                stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line y2="13" x2="8" y1="13" x1="16"></line>
                                <line y2="17" x2="8" y1="17" x1="16"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>Download PDF</div>
                        <div class="download">
                            <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none"
                                stroke-width="2" stroke="currentColor" height="24" width="24" viewBox="0 0 24 24">
                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                <polyline points="7 10 12 15 17 10"></polyline>
                                <line y2="3" x2="12" y1="15" x1="12"></line>
                            </svg>
                        </div>
                    </a>
                </div>
                <table class="table" v-if="transactions.length">
                    <thead>
                        <tr>
                            <th class="text-center none" scope="col">Id</th>
                            <th class="text-center none" scope="col">Type</th>
                            <th class="text-center none" scope="col">Date</th>
                            <th scope="col" class="text-center">Description</th>
                            <th scope="col" class="text-center none">Amount</th>
                            <th class="text-center none" scope="col">Balance Account</th>
                            <th scope="col" class="text-center seeMore">More</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="transaction in transactions"
                            :class="[transaction.type == 'DEBIT' ? 'debit' : 'credit']">
                            <th scope="row" class="text-center none">{{transaction.id}}</th>
                            <td class="text-center none" :class="[transaction.type == 'DEBIT' ? 'debit' : 'credit']">
                                {{transaction.type}}</td>
                            <td class="text-center none">{{transaction.date.split("T")[0]}}</td>
                            <td class="text-center">{{transaction.description}}</td>
                            <td class="text-center none">$ {{formattedBalance(transaction.amount).split("A")[0]}}</td>
                            <td class="text-center none">$
                                {{formattedBalance(transaction.accountCurrentBalance).split("A")[0]}}</td>
                            <td class="text-center seeMore">
                                <div>
                                    <button @click="findTransactionById(transaction.id)" id="button"
                                        style="border:none; background-color: transparent;" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                                        <span><svg id="plus-add-more-detail" class="more"
                                                style="enable-background:new 0 0 15 15; height:50px" version="1.1"
                                                viewBox="0 0 15 15" xml:space="preserve"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <path
                                                    d="M7.5,0C3.364,0,0,3.364,0,7.5S3.364,15,7.5,15S15,11.636,15,7.5S11.636,0,7.5,0z M7.5,14C3.916,14,1,11.084,1,7.5  S3.916,1,7.5,1S14,3.916,14,7.5S11.084,14,7.5,14z" />
                                                <polygon
                                                    points="8,3.5 7,3.5 7,7 3.5,7 3.5,8 7,8 7,11.5 8,11.5 8,8 11.5,8 11.5,7 8,7 " />
                                            </svg></span>
                                    </button>
                                    <div class="offcanvas"
                                        style="width: 100vw; height:50vh; top:25vh; left:0; background-color: #3F72AF;"
                                        tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                                        <div
                                            class="offcanvas-body d-flex justify-content-around align-items-center flex-column">
                                            <button type="button" style="background-color: transparent; border: none;"
                                                class="btn-close" data-bs-dismiss="offcanvas"
                                                aria-label="Close"></button>
                                            <table class="table">
                                                <h3 class="text-white">Your transaction</h3>
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <td>{{transactionMore.id}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Description</th>
                                                    <td>{{transactionMore.description}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Type</th>
                                                    <td class="fw-bold"
                                                        :class="[transactionMore.type == 'DEBIT' ? 'debit' : 'credit']">
                                                        {{transactionMore.type}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <td>{{transactionMore.date}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Balance Account</th>
                                                    <td>$
                                                        {{formattedBalance(transactionMore.accountCurrentBalance).split("A")[0]}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Amount</th>
                                                    <td>$
                                                        {{formattedBalance(transactionMore.amount).split("A")[0]}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                </table>
            </div>
        </main>
    </div>














    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./account.js"></script>
</body>






</html>