<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="shortcut icon" href="./assets/img/favicon-removebg-preview.png" type="image/x-icon">
    <title>Create Cards</title>
</head>

<body>
    <div id="app">
        <header>
            <a href="#"><img class="logo" src="./assets/img/LB-final.png" alt="LB"></a>
            <h1 class="h1Light">LIGHT<span class="h1Bank">BANK</span></h1>
            <a href="#" class="logoutButton" v-on:click="logout()">
                <ion-icon name="log-out-outline"></ion-icon><span>Logout</span>
            </a>
        </header>
        <main class="d-flex justify-content-end align-items-center pb-0">
            <img class="backgroundImage" src="./assets/img/imagen.svg" alt="animation">
            <div class="sideBar">
                <ul>
                    <li class="list">
                        <a v-on:click="logout()">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./accounts.html">
                            <span class="icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </span>
                            <span class="title">Accounts</span>
                        </a>
                    </li>
                    <li class="list transfers">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="icon transfer"><img src="./assets/img/transferencia-de-dinero.png"
                                    alt="transfer"></span>
                            <span class="title">Transactions</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li v-for="account in accounts"><a
                                    class="dropdown-item d-flex justify-content-start align-items-center"
                                    :href="'./account.html?id=' + account.id">
                                    <ion-icon name="person-outline"></ion-icon>{{account.number}}
                                </a></li>
                        </ul>
                    </li>
                    <li class="list">
                        <a href="./cards.html">
                            <span class="icon">
                                <ion-icon name="card-outline"></ion-icon>
                            </span>
                            <span class="title">Cards</span>
                        </a>
                    </li>
                    <li class="list active">
                        <a href="#">
                            <span class="icon cardPlus">
                                <img src="./assets/img/pago(1).png" alt="">
                            </span>
                            <span class="title">Create Cards</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./transfer.html">
                            <span class="icon cardPlus">
                                <img src="./assets/img/money.png" alt="">
                            </span>
                            <span class="title">Transfer</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="./loan-application.html">
                            <span class="icon cardPlus">
                                <img src="./assets/img/loan.png" alt="">
                            </span>
                            <span class="title">Loan Application</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="allContent d-flex flex-column align-items-center gap-3">
                <h2 class="mt-4">Create Cards</h2>
                <form class="createCards" v-on:submit.prevent="createCards">
                    <div class="createCardsContent">
                        <div class="cntr w-100">
                            <h5 class="text-center fw-bold mb-3">Chosee your type card:</h5>
                            <div class="radioCards">
                                <label for="rdo-1" class="btn-radio label">
                                    <input type="radio" id="rdo-1" name="type" v-model="type" value="DEBIT">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <circle cx="10" cy="10" r="9"></circle>
                                        <path
                                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                                            class="inner"></path>
                                        <path
                                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                                            class="outer"></path>
                                    </svg>
                                    <span>Debit</span>
                                </label>
                                <label for="rdo-2" class="btn-radio label">
                                    <input type="radio" id="rdo-2" name="type" v-model="type" value="CREDIT">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <circle cx="10" cy="10" r="9"></circle>
                                        <path
                                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                                            class="inner"></path>
                                        <path
                                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                                            class="outer"></path>
                                    </svg>
                                    <span>Credit</span>
                                </label>
                            </div>
                        </div>
                        <div class="cntr w-100">
                            <h5 class="text-center fw-bold mb-3">Chosee your color card:</h5>
                            <div class="radioCards2">
                                <label for="rdo-3" class="btn-radio label" id="gold">
                                    <input type="radio" id="rdo-3" name="color" v-model="color" value="GOLD">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <circle cx="10" cy="10" r="9"></circle>
                                        <path
                                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                                            class="inner"></path>
                                        <path
                                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                                            class="outer"></path>
                                    </svg>
                                    <span>Gold</span>
                                </label>
                                <label for="rdo-4" class="btn-radio label" id="silver">
                                    <input type="radio" id="rdo-4" name="color" v-model="color" value="SILVER">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <circle cx="10" cy="10" r="9"></circle>
                                        <path
                                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                                            class="inner"></path>
                                        <path
                                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                                            class="outer"></path>
                                    </svg>
                                    <span>Silver</span>
                                </label>
                                <label for="rdo-5" class="btn-radio label" id="titanium">
                                    <input type="radio" id="rdo-5" name="color" v-model="color" value="TITANIUM">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                                        <circle cx="10" cy="10" r="9"></circle>
                                        <path
                                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                                            class="inner"></path>
                                        <path
                                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                                            class="outer"></path>
                                    </svg>
                                    <span>Titanium</span>
                                </label>
                            </div>
                        </div>
                        <button class="create" type="submit">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span> Create
                        </button>
                    </div>
                </form>
                <div class="cardScale">
                    <div class="card__container">
                        <div class="card__front">
                            <div class="card__front--bg"
                                :class="color == 'GOLD'? 'bgGOLD': color == 'SILVER'? 'bgSILVER' : 'bgTITANIUM' ">
                                <div class="front--bg--s1"
                                    :class="color == 'GOLD'? 'borderGOLD': color == 'SILVER'? 'borderSILVER': 'borderTITANIUM' ">
                                </div>
                            </div>
                            <div class="card__brand" style="margin-top: 10px;">
                                <span class="card__brand--logo">
                                    <img src="./assets/img/LB-removebg-preview (2).png" width="30" alt="LB">
                                </span>
                                <span class="card__brand--name font-normal">
                                    LIGHTBANK
                                </span>
                            </div>
                            <div class="card__chip">
                                <img src="./assets/img/chip-removebg-preview.png" alt="chip">
                            </div>
                            <div class="card__extra">
                                <div class="card__extra--contactless">
                                    <ion-icon name="wifi-sharp" style="font-size: 30px;"></ion-icon>
                                </div>
                            </div>
                            <div class="card__number" :class="color == 'GOLD'? 'colorGOLD' : color == 'SILVER'? 'colorSILVER' : 'colorTITANIUM'">
                                1234 5678 9101 1121
                            </div>
                            <div class="card__payment d-flex flex-column">
                                <img src="./assets/img/visa-logo-removebg-preview.png" style="width: 50px;" alt="">
                                <span style="width: 50px; margin-left:5px;font-size: 12px;" class="text-white"
                                    v-if="type == 'CREDIT'">CREDIT</span>
                                <span style="width: 50px; margin-left:5px;font-size: 12px;" class="text-white"
                                    v-else>DEBIT</span>
                            </div>
                            <div class="card__user">
                                <span class="card__user--name   m-2">{{client.firstName + ' ' +
                                    client.lastName}}</span>
                                <div class="card__user--valid">
                                    <div class="card__user--valid-date">From. {{date()}}
                                    </div>
                                    <div class="card__user--valid-date" style="line-height: 30px;">Thru.
                                        {{datePlusYears()}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__back" :class="color == 'GOLD'? 'bgGOLD': color == 'SILVER'? 'bgSILVER' : 'bgTITANIUM'">
                            <div class="card__plast">
                            </div>
                            <div class="card__contact">
                                <p class="card__contact--txt m-0">Customer Service: 0855 0055 0055</p>
                                <p class="card__contact--txt m-0">www.lightbank.com</p>
                            </div>
                            <div class="card__strip"></div>
                            <div class="card__company">
                                <div class="card__company--address">7741 Hayvenhurst Ave, Van Nuys, CA 91406 Los Angeles
                                    /
                                    Californiya - USA</div>
                                <div class="card__company--msg">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </div>
                            </div>
                            <div class="card__cvc">
                                <div class="card__cvc--strip">

                                </div>
                                <span class="card__cvc--num"><span class="card__cvc--txt">321</span> CVV
                                </span>
                            </div>
                            <p class="card__cvc--warning"> NOT VALİD WİTHOUT AUTHORİZED SİGNATURE</p>
                            <div class="card__stamp"></div>
                            <div class="card--hr"></div>
                            <div class="card__back--bottom" :class="color == 'GOLD'? 'colorGOLD': color == 'SILVER'? 'colorSILVER' : 'colorTITANIUM'">
                                <p class="company-dec m-0">
                                    LB
                                </p>
                                <p class="card--business m-0">
                                    LightBank
                                </p>
                            </div>
                            <div class="card__back--shape" :class="color == 'GOLD'? 'borderGOLD' : color == 'SILVER'? 'borderSILVER' : 'borderTITANIUM'  ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>














    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./create-cards.js"></script>
</body>






</html>